@import '../../sharedScss/media.scss';
.home-Container{
    padding: 1rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.home{
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 3rem 3rem;
    margin: 1rem 1rem -6rem 1rem;
    height: 20rem;
    width: 50rem;
    transform: translateY(-15rem);
    background-color:rgba(139, 139, 139, 0.274);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 10px 7px 32px -5px rgba(0,0,0,0.75);
    font-weight: bold;
}
.home-Hearts{
    text-align: center;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    & img{
        margin: 0 .5rem 0 .5rem;
    }
}
.bounce1{
    animation: bounce 3s infinite;
}
.bounce2{
    animation: bounce 3.2s infinite;
}
.bounce3{
    animation: bounce 3.4s infinite;
}
.bounce4{
    animation: bounce 3.6s infinite;
}
.bounce5{
    animation: bounce 3.8s infinite;
}
@keyframes bounce{
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-.5rem); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-.2rem); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}
@include Phone-Large{
    .home{
        height: 35rem;
        padding: 1rem;
    }
}
@include Phone-Medium{
    .home{
        height: 33rem;
    }
}
@include Phone-Small{
    .home{
        height: 30rem;
        padding: 1rem;
      
    }
    .home-Hearts img{
        height: 1.3rem;
    }
}